@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spartan:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --bg-cyan: hsl(180, 52%, 96%);
    --filter-cyan: hsl(180, 31%, 95%);
    --dark-gray-cyan: hsl(180, 8%, 52%);
    --very-dark-cyan: hsl(180, 14%, 20%);

    --shadow: 0 5px 30px 10px hsl(180, 29%, 50%, .2);
}
body {
    font-family: 'Spartan', sans-serif;
    position: relative;
}
header {
    min-height: 150px;
    background-color: var(--dark-cyan);
    background-position: center;
    background-size: cover;
}
.filter {
    width: 100%;
    position: relative;
    background: white;
    height: auto;
    padding: 16px;
    margin: auto;
    bottom: 50px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    max-width: 1000px;
    display: none;
    justify-content: space-between;
    gap: 1em;
}

.span {
    display: inline-block;
    background: var(--filter-cyan);
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
}

.filter-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.filter-sub p {
    padding: .5em;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    color: var(--dark-cyan)
}

.filter-sub button {
    height: 30px;
    aspect-ratio: 1;
    background: var(--dark-cyan);
    border: none;
    cursor: pointer;
    transition: .13s ease;
}

.filter-sub button:hover {
    background: var(--very-dark-cyan);
}

.filter-sub img {
    margin: auto;
}
.clear {
    color: var(--dark-gray-cyan);
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.clear:hover {
    color: var(--dark-cyan);
    text-decoration: underline;
}

main {
    padding: 25px 1.5em 1em;
    min-height: 100vh;
}
